*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.options-cont{
    background-color: aqua;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
}
.tools-cont{
    height: 5rem;
    width: 60%;
    /* display: flex; */
    flex-wrap: wrap;
    background-color: lightgreen;
    position: absolute;
    top: 1rem;
    left: 20%;
    justify-content: space-around;
    display: none;
    /* as initially dont show tools cont show when option cont is not clicked 
       when clcked mmaking display flex so that these prop. of wrap, justify are applicable on 
       elements inside it */
}
.tools-cont > *{
    /* width by 60% / 7 elements */
    width: 8.6%;
    font-size: 4rem;
    padding-top: 0.5rem;
}
.scale-tools{
    animation-name: scale-tools;
    animation-duration: 1s;
}
@keyframes scale-tools{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
.pencil-tool{
    height: 5rem;
    width: 8.6%;
    background-color: bisque;
    position: absolute;
    top: 6rem;
    left: 20%;
    border-radius: 3px;
    display: none;
    /* as initially not to show, show only when pencil is clicked */
}
.pencil-tool :hover{
    cursor: pointer;
}
.pencil-width-cont{
    height: 2rem;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-width-cont input{
    width: 80%;
}
.pencil-color-cont{
    height: calc(100% - 2rem);
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap addsspace b/w  element*/
    gap: 1rem;
}
.pencil-color{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.eraser-tool-cont{
    height: 2rem;
    width: 8.6%;
    background-color: lightblue;
    /* to center content inside this elem */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6rem;
    left: 28.6%;
    /* left: 20% of margin left + 8.6% width of pencil tool */
    display: none;
    /* as initially not to show, show only when eraser is clicked */
}
.eraser-tool-cont :hover{
    cursor: pointer;
}
.eraser-tool-cont input{
    width: 80%;
}
.sticky-cont{
    height: 15rem;
    width: 8.6%;
    position: absolute;
    /* background-color: blue; */
    top: 6rem;
    left: 54.4%;
}
.header-cont{
    height: 2rem;
    width: 100%;
    background-color: olive;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.note-cont{
    height: calc(100% - 2rem);
    background-color: red;
    /* box-shadow: ; */
}
.header-cont > *{
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.minimize{
    background-color: greenyellow;
}
.remove{
    background-color: red;
}
.remove:hover{
    cursor: pointer;
}
textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
img{
    height: 100%;
    width: 100%;
}
canvas{
    z-index: 2;
}